* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #F55A5A;
    color:#FFFFFF;
    text-align: center;
    height: 100px;
    width: 550px;
}

nav > svg{
    margin-top: 20px;
    margin-right: 7px;
}
